[submodule "os-deployment"]
	path = os-deployment
	url = https://github.com/abugher/os-deployment.git
[submodule "git-automation"]
	path = git-automation
	url = https://github.com/abugher/git-automation.git
[submodule "dicelessware"]
	path = dicelessware
	url = https://github.com/abugher/dicelessware
[submodule "ansible-roles"]
	path = ansible-roles
	url = https://github.com/abugher/ansible-roles.git
[submodule "ansible-inventory"]
	path = ansible-inventory
	url = https://github.com/abugher/ansible-inventory
[submodule "certificate-authority"]
	path = certificate-authority
	url = https://github.com/abugher/certificate-authority
[submodule "sensitive-ansible-inventory"]
	path = sensitive-ansible-inventory
	url = ansible@files:/storage/control-center/sensitive-ansible-inventory.git
[submodule "sensitive-certificate-authority"]
	path = sensitive-certificate-authority
	url = ansible@files:/storage/control-center/sensitive-certificate-authority.git
[submodule "ansible-environment"]
	path = ansible-environment
	url = https://github.com/abugher/ansible-environment.git
